/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
:root {
  --bg-main: #FAF7F2;          /* fond crème chaud */
  --bg-chat: #FFFFFF;

  --color-user: #E67E22;      /* orange épices (utilisateur) */
  --color-bot: #F1F8F4;       /* vert très clair (SavouraBot) */

  --text-main: #1f1f1f;
  --border-soft: #e6e6e6;
}
.message.user {
  background-color: var(--color-user);
  color: #FFFFFF;
}

.message.bot {
  background-color: var(--color-bot);
  color: #1E3A2F;
}
.icon-btn {
  color: #8A8A8A;
}

.icon-btn:hover {
  color: #E67E22;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f7f7f8;
  color: #111;
}

button {
  cursor: pointer;
}
